/*Der Sinn der styles.css ist, die Farben,
 die Schriftgröße/-art und das Aussehe aller Elemente in der 
 HTML- Datei zu gestalten. */

/* Der HIntergrund ist türkis.*/

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
  
   
    height: 100vh;
}

h1 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    color: hsl(0, 0%, 100%)0%, 100%);
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 20px;
}
/*die Schriftfarbe in Absätzen ist blau.*/
p {
    color: #ffffff;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 80px;
}

th{  color: white;
    background: black;

} td {
    border: 1px solid #ffffff;
    padding: 10px;
}

hr {
    border: none;
    border-top: 2px dashed hsl(0, 0%, 100%)0%, 100%);
    margin-top: 80px;
}

html{
    color: #ffffff;
}